doctype html
html(lang=en)
    head
        <!-- title of web page -->
        title=title

        meta(charset="utf-8")
        meta(name="description" content="website description")
        meta(name="author" content="name/group name of author/s")
        <!-- extra meta info -->
        block meta-info

        <!-- links for css, bower, bootstrap, etc -->
        block links

    body
        block navbar
        block content

    footer
        block scripts
